.animals {
  
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.animal {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 5%;
  margin: 1em;
  padding: 1em;
  flex-direction: column;
  border: 1px solid goldenrod;
  justify-content: space-between;
}

.input--wide {
  display: flex;
  border: 5px solid goldenrod;
  
}